@* @model TicketDetailsModel *@

<div class="display-6 text-dark ms-2 text-center">
	@_localization.Getkey("Ticket").Value
</div>
<hr>
<div class="card shadow" style="background-color: #73d71e"/>
<div class="card-title">
	<div class="row justify-content-between ">
		@*bilet basliği*@
		<div class="col-md-7 ">
			<h3>@_localization.Getkey("Ticket").Value</h3>
		</div>
		<div class="col-md-5 text-end pe-5">
			<img src="/images/logo1.png" height="50" />
		</div>
	</div>
</div>
<div class="card-body p-1" style="background-color:#fff">
	<div class="row justify-content-around m1">
		<div class="col-md-5">
			@*yolcu bilgi*@
			<div class="row fw-bold text-center">Passenger Information</div>
			<div class="row">
				<div class="col-md-4 p-0 fw-bold ">
					@_localization.Getkey("First Name").Value
				</div>
				<div class="col-md-5 p-0 ">
					@*@Model.Passenger.FirstName*@
					@Model.Passenger.FirstName
				</div>
			</div>
			<div class="row ">
				<div class="col-md-4 p-0 fw-bold ">
					@_localization.Getkey("Last Name").Value
				</div>
				<div class="col-md-5 p-0 ">
					@*@Model.LastName*@
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 p-0 fw-bold ">
					@_localization.Getkey("E-Mail").Value
				</div>
				<div class="col-md-5  p-0 ">
					@*@Model.Email*@
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 p-0 fw-bold ">
					@_localization.Getkey("Phone Number").Value
				</div>
				<div class="col-md-5 p-0">
					@*@Model.PhoneNumber*@
				</div>
			</div>
		</div>


		@*bilet bilgi*@
		<div class="col-md-5">
			@*yolcu bilgi*@
			<div class="row fw-bold text-center">Trip Information</div>
			<div class="row">
				<div class="col-md-3 p-0 fw-bold ">
					@_localization.Getkey("From").Value
				</div>
				<div class="col-md-3 p-0 ">
					@Model.FromWhere
				</div>
			</div>
			<div class="row ">
				<div class="col-md-3 p-0 fw-bold ">
					@_localization.Getkey("To").Value
				</div>
				<div class="col-md-3 p-0 ">
					@Model.ToWhere
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 p-0 fw-bold ">
					@_localization.Getkey("Date").Value
				</div>
				<div class="col-md-3  p-0 ">
					@*@Model.TripDate.ToString("d")*@
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 p-0 fw-bold ">
					@_localization.Getkey("Time").Value
				</div>
				<div class="col-md-3 p-0">
					@*@Model.TripTime*@
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 p-0 fw-bold ">
					@_localization.Getkey("Seat Number").Value @Model.Ticket.SeatNo
				</div>
				<div class="col-md-3 p-0">
					@*@Model.SeatNo*@
				</div>
			</div>
		</div>
		<div class="col-md-1 pe-0">
			<img src="/images/barkod.png" class="container-fluid justify-context-end me-0 pe-0" height="150px" />
		</div>
	</div>
</div>
